@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl;
    @apply md:text-4xl font-bold;
  }

  h2 {
    @apply text-base;
    @apply md:text-2xl font-bold;
  }

  h3 {
    @apply text-base;
    @apply md:text-xl font-bold;
  }

  h4 {
    @apply text-base;
    @apply md:text-xl;
  }

  p,
  li {
    @apply text-sm;
    @apply md:text-sm;
  }

  @media print {
    body,
    html {
      overflow: visible !important;
      margin-bottom: auto !important;
      font-size: 10px !important;
      line-height: 0.8rem !important;
    }
    * {
      overflow: visible !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      page-break-before: auto;
      page-break-inside: avoid;
      page-break-after: avoid;
    }
  }
}
